.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tiempo {
  border-radius: 50%;
  border-style: solid;
  width: 40px;
  height: 40px;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colibriImg{
  height: 20vh;
  min-height: 50px;
}

.backgroundImage{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(4px);
}

.pregunta {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: center;
  align-items: center;
  height: 45vh;
}

.respuestas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.textoPreg {
  font-size: medium;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  width: 90vw;
  background-color: white;
}

.datosPregunta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.puntosAvance {
  margin-top: -15px;
  margin-bottom: -20px;
  font-size: medium;
  padding: 5px;
  border-radius: 4px;
  border-style: solid;
  width: 200px;
  background-color: whitesmoke;
  z-index: 1;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;

}

.respuestas .buttonJ {
  background-color: white;
  color: #333;
  border-style: solid;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 45vw;
  margin: 0;
  margin: 5px;

}

.respuestas .buttonJ:hover {
  background-color: #005ea5;
}

.gameEndContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
}

.gameEndContainer h1{
  margin: 10px;
}
.gameEndContainer h2{
  margin: 10px;
}

.buttonJ {
  font-size: 1.2rem;
  padding: 8px;
  background-color: #0077c2;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 2rem;
  margin: 5px;
}

.buttonJ:hover {
  background-color: #005ea5;
}

.piramide {
  display: flex;
  flex-direction: column-reverse;
  width: 90vw;
  height: 100vh;
  overflow-y: auto;
  align-items: center;
}

.escalon {
  width: calc(90vw - 5.5vw*var(--index));
  display: flex;
  border-style: solid;
  min-height: 40px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  font-weight: bolder;
  box-shadow: 5px 5px 7px -5px black;
}

.escalonDone {
  background-color: #0077c2;
  color: white;
  border-color: black;
  transform: scale(1.05);
}

.btnSig {
  padding: 4px;
  width: 120px;
  min-height: 40px;
  position: fixed;
  top: 10px;
  right: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: greenyellow;
}

.escalon:nth-child(2) {
  --index: 1;
}

.escalon:nth-child(3) {
  --index: 2;
}

.escalon:nth-child(4) {
  --index: 3;
}

.escalon:nth-child(5) {
  --index: 4;
}

.escalon:nth-child(6) {
  --index: 5;
}

.escalon:nth-child(7) {
  --index: 6;
}

.escalon:nth-child(8) {
  --index: 7;
}

.escalon:nth-child(9) {
  --index: 8;
}

.escalon:nth-child(10) {
  --index: 9;
}

.escalon:nth-child(11) {
  --index: 10;
}

.escalon:nth-child(12) {
  --index: 11;
}

.escalon:nth-child(13) {
  --index: 12;
}

.escalon:nth-child(14) {
  --index: 13;
}

.escalon:nth-child(15) {
  --index: 14;
}

.escalon:nth-child(16) {
  --index: 15;
}
