.screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 1.2s forwards;
}

.person {
  position: absolute;
  bottom: -400px;
  width: 155px;
  transition: all 0.5s ease-out;

}

.person-1 {
  left: 15%;
}

.person-2 {
  right: 15%;
  transform: scaleX(-1);

}

.slide-up {
  bottom: 0;
}

.dialogue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
  font-size: 0.7em;
  text-align: justify;
  animation: fadeIn 1.2s forwards;

}

.dialogueClick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 1.2s forwards;

}

.skip{
  background-color: rgba(255, 255, 255, 0.7);
  border-style: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  font-weight: 900;
  border-radius: 20px;
  box-shadow: 2px 2px 8px -1px black;
  
}

.map{
  height: 100vh;
  width: 100vw;
  display: flex;
align-items: center;
justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.map img{
  height: 90vh;
  animation: zoomIn 1s forwards ease-in, zoomLoop 2s infinite ease-in;
  box-shadow: 2px 2px 8px -1px black;
}
@keyframes zoomIn{
  from{
    height: 0;
  }
  to{

    height: 90vh;
  }
}

@keyframes zoomLoop {
  0%{
    transform: scale(0.99);
  }
  50%{
    transform: scale(1.01);
  }
  100%{
    transform: scale(0.99);
  }
}

.dialogue p {
  height: auto;
  font-size: 0.8rem;
  margin: 0 auto;
}

.dialogue p span {
  position:absolute;
  right:0;
  height: 100% ;
  width:100%;
  background: white;
  animation: escribir 7s  forwards;
  border-radius: 10px;
  bottom: 0;
}

@keyframes escribir {
  from {height: calc(100% - 20px) }
  to { height:0 }
}

.dialogue p p {
  position: absolute;
  bottom: 0px;
  right: 14px;
  width: 2rem !important;
  font-size: 1.7rem !important;
  font-weight: 900;
  color: green;
  font-family: cursive;
}

.dialogueClick p {
  margin: 0;
}